.Signup{
  margin-top: -150px;
  margin-bottom: 200px;
  /* background-color: antiquewhite; */
}




.Signuplink{
  margin-top: -230px;
}




.Signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Signup-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  .Signup-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .Signup-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .Signup-form button:hover {
    background-color: #0056b3;
  }
  